html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.gm-style-iw {
	max-height: 300px;
	max-width: 350px;
}

#wrapper {
	position: relative;
	width: 100%;
}

#mapNav {
	position: absolute;
	width: 100%;
}

#map {
	height: 400px;
}

.popover {
	width: 200px;
}

#movieListItems em {
	margin-left: 20px;
	margin-right: 20px;
	color: #999;
}

#mapListOverlay {
	position: absolute;
	background-color: white;
	top: 70px;
	left: 20px;
	padding-right: 10px;
	z-index: 99;
	border-radius: 5px;
	opacity: 0.9;
}

#mapListOverlay h4,
#mapListOverlay p {
	padding: 5px;
	margin: 0px;
}

#mapListOverlay ul {
	list-style: none;
	padding-left: 5px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
}

@media screen and (max-width: 700px) {
	.hideList {
		display: none;
	}
}