html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#wrapper {
	position: relative;
	width: 100%;
}

#mapNav {
	position: absolute;
	z-index: 99;
	width: 100%;
}

#movieList {
	display: none;
}

#map {
	height: 400px;
}

#pac-input {
}
.popover {
	width: 200px;
}